header {
    height: 65px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    background-color: #fafafa;
}

header form button[type="submit"] {
    width: 50px;
    height: 100%;
    border: none;
    background-color: #1976D2;
    border-bottom-left-radius: 50px;
}

header form button .arrow-left {
    height: 30px;
    color: white;
}

header .site-logo {
    height: 50px;
}