.site-logo-text {
    font-size: 25px;
    letter-spacing: 0.5px;
    text-shadow: 1px 0 0 currentColor;
    font-weight: 500;
}

.site-logo-icon {
    width: 21px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: -3px;
    margin-top: 8px;
}